:root{
  --mainGreen:#32722a ;
  --lightgreen:#60e74e ;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainOrange:#da6505 ;
}

body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: "Permanent Marker", cursive !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-green{
  color: var(--mainGreen);

}

.text-bright{
  color: var(--lightgreen);
}